body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:black;
    overflow-x: hidden;
}

.pais{
    background-image: url("assets/Hills.png");
    height: 778px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    padding-left: 72px;
    padding-right: 80px;   
}

.pais>nav{
    display: flex;
    justify-content: space-between;   
}

.logo{
    text-decoration: none;
    display:flex ;
}

.logo-pilt{
    height: 64px;
}

.logo-tekst{
    font-size: 33px;
    font-weight: 800;
    line-height: 35px;
    color: #0B0B0B;
    display: flex;
    flex-direction: column;
}

.parem-pool{
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.67px;
    display:flex;
    align-items: center;
}

.parem-pool>a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.pais>.alumine{
display: flex;
justify-content: space-between;
}

.pais>.alumine>.sisu{
    margin-top: 230px;
}

h1,
h2, 
h4 {
    font-weight: 800;
    letter-spacing: 0;
    color:#0B0B0B;
    line-height:0%;
}

button{
    background-color: #0B0B0B; /* Black */
  border: none;
  height: 58px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12.5px;
  font-weight: 800;
  width: 250px;
  letter-spacing: 2.25px;
}
  
.pais>.alumine>.sisu>.ikoon1{
    background-image: url("assets/Butterfly@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    width: 66px;  
    height: 75px;
    margin-left: 571px; 
    margin-bottom: -50px;   
}

.pais>.alumine>.sisu>h2{
    font-size: 40px;    
}

.pais>.alumine>.sisu>.ikoon2{
    background-image: url("assets/sinineliblikas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;      
    height: 32px;
    width: 60px;
    margin-left: -40px;
    margin-bottom: -55px;
}

.pais>.alumine>.sisu>h1{
    font-size: 74px;
}

.pais>.alumine>.sisu>h4{
    font-size: 21px;
}

.pais>.alumine>.pilt {
    background-image: url("assets/matkaja.png");
    height: 915px;
    width:915px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    padding-left: 72px;
    padding-right: 80px;
    margin-right: -300px;
    border-radius: 500px;
    box-shadow: -2px 5px 14px 1px #4E4C4C;
  }

  .teine{
    padding-left: 80px;
    margin-top: 120px;
  }

  .teine>.ylemine>h5.hall{
    color:grey;
    text-transform: uppercase;
    font-size: 42px;
  }

  .teine>.ylemine>h5{
    font-size: 54px;
    font-weight: 600;
    line-height: 58.33px;
    margin:0;
    max-width: 500px;
  }

  .teine>.alumine{
    display: flex;
    gap:34px;
    justify-content: space-between;    
  }

  .teine>.alumine>.vasak{
    display:flex;
    flex-direction: column; 
    max-width: 500px; 
    margin-top: 25px; 
  }

  .teine>.alumine>.vasak>section{

    letter-spacing: 0px;
    color:grey;
    font-size:21px;
    line-height:33px;
    margin-bottom: 150px;
  }     
   
  
  .teine>.alumine>.vasak>.nooled{
    font-size: 50px;
    margin-bottom: 100px;
    display: flex; 
    align-items: center;
    margin-top: 150px;   
  }

  .nooled>.vasak, 
  .nooled>.parem{
    font-size: 72px;
  }

  .nooled>.lehekylg{
    margin: 0 10px;
  }

  .nooled>.kokku-lehekylgi,
  .nooled>.parem{
    color: grey;
  }

  .nooled>.kokku-lehekylgi{
    font-size: 36px;
    margin-top: 4px;
  }
  .teine>.alumine>.parem{
    display: flex;
    margin-top: 25px;
    margin-right: -150px;
  }

  .teine>.alumine>.parem>.pilt{
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height:406px;
   width: 309px;
   margin-left: 34px;
  }

  .teine>.alumine>.parem>.pilt1{
   background-image: url("assets/Layer@2x.png");
   box-shadow: 28px 29px 199px, -16px #4E4C4C;
  }

  .teine>.alumine>.parem>.pilt2{
    background-image: url("assets/Noormees.png");
  }

.teine>.alumine>.parem>.pilt3{
    background-image: url("assets/Kaart.png"); 
}


.footer>nav{
    display: flex;
    justify-content: space-between;
    
}

.footer {  
    background-color:#F3F3F3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:276px;
    width: 1327px;
    padding-top: 32px;
    padding-left: 72px;
    padding-right:50px;
    
}

.button1 {
    background-color:black; 
    color: white;
    margin-top: 45px;
    font-size: 22px;
    width: 170px;
    height: 28px;
}
  
.button2 {
    background-color:black; 
    color: white;
    margin-top: 2px;
    font-size: 32px;
    text-align:center;
    width: 280px;
    height: 40px;
}

.footer-basic .social {
    text-align:right;
    margin-top: -50px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:35px;
    height:35px;
    line-height:30px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    background-color: #0B0B0B;
    margin:0 8px;
    color:white;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic> .alltekst{      
   margin-top: -30px;
   margin-left: 600px;
  }
   
  