#uudised1 {
    width: 600px;
    background-color: lightblue;
    border: 5 px solid green;
    margin-left: auto;
    margin: 5px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}
body{
    
}
#uudised2 {
    width: 600px;
    background-color: lightblue;
    border: 5 px solid green;
    margin-right: auto;    
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}
body{
    
} 
#uudised3 {
    width: 600px;
    background-color: lightblue;
    border: 5 px solid green;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}  